@font-face {
    font-family: 'Charis SIL';
    src: url("./fonts/CharisSIL-6.200/web/CharisSIL-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Charis SIL';
    src: url("./fonts/CharisSIL-6.200/web/CharisSIL-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Charis SIL';
    src: url("./fonts/CharisSIL-6.200/web/CharisSIL-Italic.woff") format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Charis SIL';
    src: url("./fonts/CharisSIL-6.200/Cweb/CharisSIL-BoldItalic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url("./fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url("./fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("./fonts/Inter/Inter-Light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InterB';
    src: url("./fonts/Inter/Inter-Medium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Inter';
    font-weight: lighter;
    background-color: #140734;
    color: #efcdff;
    text-align: center;
}

h1 {
    font-family: 'Space Grotesk';
    font-weight: bold;
    color: #b65ae1;
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 25px;
}


#wordDisplay {
    font-size: 34px;
    font-family: 'InterB';
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h2 {
    font-size: 22px;
    font-family: 'Inter';
    margin-top: 8px;
    margin-bottom: 0px;
    color: #c67cbb;
}

h3 {
    font-size: 18px;
    font-family: 'Inter';
    margin-top: 5px;
    margin-bottom: 25px;
    color: #9e81d2;
}

#app {
    margin: 20px;
    font-size: 30px;
}

#textInput {
    border: 2px solid #9e41c9;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    margin-right: 10px;
    /*margin-bottom: 30px;*/

    font-size: 25px;
    font-family: 'Inter';
    color: white;
    background-color: #38074c;
}

button {
    background-color: #9e41c9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
    font-family:'Space Grotesk';
}

.button-green {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    cursor: pointer;
    margin-top: 10px;
}


button:hover {
    background-color: #585558;
}

.feedback-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    width: 100%; /* Ensure the container spans the full width */
    /*margin-bottom: 15px;*/
}

#feedback {
    display: none;
    font-size: 20px;
    border: 2px solid rgb(36, 36, 36); /* This creates a black border */
    max-height: 350px;
    min-height: 50px;
    box-sizing: border-box; /* Include padding and border in the element's width */
    max-width: 50%;
    min-width: 450px;
    margin: 0 auto;
    padding: 10px;           /* This adds some space inside the box */
    margin: 10px;            /* This adds some space outside the box */
    box-shadow: 3px 3px 5px #9e41c9; /* Optional: Adds a shadow for a 3D effect */
    overflow-y: scroll;
    color: #a4a5fb;
    scrollbar-color: #905ab7 #3a3c9c;

}

#metaFeedback {
    display: none;
    font-family: 'Space Grotesk';
    color: #e48484;
    font-size: 17px;
}

#wordSubmitted {
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Inter';
    color: #e4de84;
    font-size: 17px;
}

.keyboard-container {
    display: flex;
    flex-direction: column;
    
}

.ipaKeyboard {
    margin:auto;
    margin-top: 25px;
    text-align: center;
    max-width: 850px;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #9e41c9;
    background-color: #513664;
    border-radius: 5px;
}

.ipaKeyboard button {
    padding: 5px 10px;
    margin: 2px;
    border: 1px solid #9e41c9;
    background-color: #3f2751;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    color: #d1c4d7;
    font-family: 'Inter';

}

.ipaKeyboard button:hover {
    background-color: #9e41c9;
}

#feedback {
    margin-top: 25px;
    font-style: italic;
}

/* Not the loading animation */
/* Credit to: https://stackoverflow.com/a/28074607 */
.loading {
    font-size: 30px;
  }
  
.loading:after {
overflow: hidden;
display: inline-block;
vertical-align: bottom;
-webkit-animation: ellipsis steps(4,end) 900ms infinite;      
animation: ellipsis steps(4,end) 900ms infinite;
content: "\2026"; /* ascii code for the ellipsis character */
width: 0px;
}

@keyframes ellipsis {
to {
    width: 1.25em;    
}
}

@-webkit-keyframes ellipsis {
to {
    width: 1.25em;    
}
}