body {
    font-family: Arial, sans-serif;
    background-color: #ebeaea;
    color: #ff7f50;
    text-align: center;
}

#app {
    margin: 20px;
}

#wordDisplay {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

#textInput {
    border: 2px solid #ff7f50;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
}

button {
    background-color: #ff7f50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #ff9568;
}

.feedback-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    width: 100%; /* Ensure the container spans the full width */
}

#feedback {
    border: 2px solid black; /* This creates a black border */
    min-width: 200px;
    max-height: 200px;
    min-height: 50px;
    box-sizing: border-box; /* Include padding and border in the element's width */
    max-width: 50%;
    display: block;
    margin: 0 auto;
    padding: 10px;           /* This adds some space inside the box */
    margin: 10px;            /* This adds some space outside the box */
    box-shadow: 3px 3px 5px grey; /* Optional: Adds a shadow for a 3D effect */
}

.ipaKeyboard {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ff7f50;
    background-color: #ffffff;
    border-radius: 5px;
}

.ipaKeyboard button {
    padding: 5px 10px;
    margin: 2px;
    border: 1px solid #ff9568;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: black;
}

.ipaKeyboard button:hover {
    background-color: #ff7f50;
    color: white;
}

#feedback {
    margin-top: 20px;
    font-style: italic;
}
