@font-face {
    font-family: 'Charis SIL';
    src: url("./CharisSIL-6.200/web/CharisSIL-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Charis SIL';
    src: url("./CharisSIL-6.200/web/CharisSIL-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Charis SIL';
    src: url("./CharisSIL-6.200/web/CharisSIL-Italic.woff") format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Charis SIL';
    src: url("./CharisSIL-6.200/Cweb/CharisSIL-BoldItalic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Charis SIL';
    background-color: #282b2f;
    color: #a85bcc;
    text-align: center;
}

#app {
    margin: 20px;
    font-size: 30px;
}

#wordDisplay {
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: bold;
}

#textInput {
    border: 2px solid #9e41c9;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    margin-bottom: 20px;
}

button {
    background-color: #9e41c9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #585558;
}

.feedback-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    width: 100%; /* Ensure the container spans the full width */
}

#feedback {
    display: none;
    font-size: 23px;
    border: 2px solid rgb(36, 36, 36); /* This creates a black border */
    min-width: 200px;
    max-height: 500px;
    min-height: 50px;
    box-sizing: border-box; /* Include padding and border in the element's width */
    max-width: 50%;
    margin: 0 auto;
    padding: 10px;           /* This adds some space inside the box */
    margin: 10px;            /* This adds some space outside the box */
    box-shadow: 3px 3px 5px grey; /* Optional: Adds a shadow for a 3D effect */
}

.ipaKeyboard {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #9e41c9;
    background-color: #585558;
    border-radius: 5px;
}

.ipaKeyboard button {
    padding: 5px 10px;
    margin: 2px;
    border: 1px solid #9e41c9;
    background-color: #333231;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    color: #baaec0;
}

.ipaKeyboard button:hover {
    background-color: #9e41c9;
    color: #ad69cc;
}

#feedback {
    margin-top: 20px;
    font-style: italic;
}
